::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */}

    a{
        cursor: pointer;
    }
    
    .into-view{
        cursor: pointer;
    }
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
    color: white;
    overflow: -moz-hidden;/* Firefox */
}
.main-cv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('garrett-parker-DlkF4-dbCOU-unsplash-min%20(1).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.text-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px;
  width: 40%;
  height: 300px;
    border-radius: 10px;
    backdrop-filter: blur(2px); /* Slight blur effect */
    border: 1px solid white;
   /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Blurry white shadow */  
    border-radius: 10px;
}
.text-content .separator {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 10px auto;
    opacity: 0.7;
}
.text-content h1 {
    font-size: 2.8em;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text-content p {
    font-size: 1.2em;
    margin: 5px 0;
    font-weight: 300;
    letter-spacing: 1px;
}
.social-media-icons{
    width: 40%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e5e5;
    background-color: white;
    color: #282828;
    font-weight: bold;
    font-size: 16px;
    z-index: 4;
position: sticky;
top: 0;
}
.into-view.purple{
    color: blueviolet;
}

.usek-container{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
}
.usek-container img{
    width: 50px;
    height: 25px;
    object-fit: scale-down;
    margin-right: 5px;
}
.nav-container{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutMe-section{
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: white;
    color: #282828;
}
.aboutMe-container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-container{
    flex: 1;
    text-align: left;
   /* min-width: 520px;*/
}
.text-container h2{
    font-size: 2.5em;
    color: #282828;
    margin-bottom: 10px;
}
.text-container p{

    font-size: 1.2em;
    line-height: 28px;
    color: #5a5a5a;

}

.photo-container{
    flex: 1;
    text-align: center;
    min-width: 300px;
    max-width: 400px;
    margin-left: 100px;
}
.photo-container img{
    width: 400px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.desktop-about{
    display: flex;
}
.mobile-about{
    display: none;
}
.skills-section{
    width: 100%;
    padding: 50px 0;
    background-color:white;
    color: #282828;
}
.skills-container{
    max-width: 990px;
    margin: auto;
    
}
.skills-container h2{
    font-size: 3em;
    color: #282828;
    margin-bottom: 20px;
}
.skills{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:60px;
}
.individual-skill{
    width: 450px;
}
.individual-skill .skill-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:468px;
    
    
}
.skill-header p{
    margin: 0;
    font-weight: bold;
    color: #333;
}

.progress-bar-container{
    background-color: #e6e6e6;
    border-radius: 10px;
    height: 15px;
   
    width: 470px;
   
}
.progress-bar{
   width: 90%;
   height: 100%;
   background-color:black;
   border-radius: 10px;
}

.first-group,.second-group{
    height: 255px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-direction: column;
}
.project-section{
    margin-top: 100px;
}
.project-section h2{
    color: #282828;
    font-size: 3em;
}
.project-container{
    margin: auto;
    max-width: 1400px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parent-video-container{
    min-width: 45%;
    max-width: 45%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.background-video{
  

  width: 100%;
  height: 100%;
  object-position: center;
  object-fit:cover;
border-radius: 15px;
  z-index: -1;
  }
/* Hover effect for videos */
.video-container {
  
          position: relative;
          width: 90%;
          height: 85%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          
      }
      .overlay-hover {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.85);
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.5em;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          transition: top 0.6s ease;
      }
      
      .video-container:hover .overlay-hover {
          top: 0;
          
      }
  
.div1{
    width: 100%;
    height: 30%;
    display: flex;
}
.project-title{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.made-in{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 12px;
    padding: 10px;

}
.made-in span{
    margin-right: 10px;
}
.biography-section{
    width: 100%;
    padding: 50px 0;
    background-color:white;
    color: #282828;
    margin-top: 70px;
}
.biography-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.biography-container h2{
    font-size: 3em;
    margin-bottom: 20px;
}
.biography-container p{
    font-size: 1.2em;
    line-height: 28px;
    color: #5a5a5a;
    margin-top: 20px;
    padding: 0 20px;
}
.contact-section{
    width: 100%;
    padding: 50px 0;
    background-color: white;
    color: #282828;
}
.contact-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container h2{
    font-size: 3em;
    margin-bottom: 20px;
}
.form-container{

    margin-bottom: 20px;
}
.form-p{
    font-size: 1.2em;
    color: #5a5a5a;
    padding: 0 20px;
}
input,textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
}
input::placeholder,textarea::placeholder{
    font-family: 'Outfit',sans-serif;
}
#submit-button{
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    width: 210px;
    font-family: 'Outfit',sans-serif;
}
.button-div{
    width: 82.2%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.social-div{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-div a{
    text-decoration: none;
}
footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #111;
    font-weight: 500;
}

@media (max-width: 1000px){

    .nav-container{
        width: 50%;
    }

.photo-container{
    margin-left: 10px;
}
.text-container{
    max-width: 480px;
    padding: 10px;
}
.text-container p{
    font-size: 1.1em;
    
}
.aboutMe-container{
    padding: 20px;
}
    
    .skills{
        justify-content: center;
        align-items: center;
    }
    .individual-skill{
        width: 100%;
    }
    .individual-skill .skill-header{
     
        width:100%;
        
        
    }
   
    
    .progress-bar-container{
       
       
        width: 100%;
       
    }
    .progress-bar{
       width: 90%;
   
    }
    
    .first-group,.second-group{
       
        width: 92%;
       
    }
}

@media (max-width: 850px) {
    .nav-container{
        width: 65%;
    }


.mobile-about{
    display: flex;
}
.desktop-about{
    display: none;
}
    .aboutMe-section{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .container{
        width: 90%;
        height:auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
  .header-container{
    width: 100%;
    height: 100px;
    color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container h2{
    font-size: 3em;
  }
    
  .photo-container-mobile{
    margin-top: 40px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo-container-mobile img{
    width: 55%;
    height: 100%;
    max-width: 350px;
    min-width: 300px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  .text-container-mobile{
    font-size: 1.2em;
    line-height: 28px;
    color: #5a5a5a;
    text-align: center;
  }
    .skills-container{
        margin: auto;
    }
    nav{
    }
    html,body{
        width: 100%;
        
        
    }
    .main-cv{
        width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
      
    }
    .text-content{
        width: 80%;
    }
    .project-container{
        height: auto;
      flex-direction: column;
      margin: auto;
      align-items: center;
      gap: 30px;
       
    }
    .parent-video-container{
        min-width: 95%;
    
        height: 65%;
       
        
    }
   .video-container{
    height: 350px;
   }
    .project-section h2{
       margin-bottom: 50px;
    }
    .biography-container h2{
       
        margin-bottom: 50px;
    }
    .contact-container h2{
       
        margin-bottom: 30px;
    }
}
@media (max-width:650px){
   
.nav-container{
    width: 70%;
}



}

@media (max-width:600px){
    #main{display: none;}
    .nav-container{
        justify-content: space-around;
        width: 100%;
    }



   
}
@media (max-width:500px){
    .text-content{
        height: 285px;
    }
    .text-content h1 {
        font-size: 2.2em;
      
   
      
    }
    .text-content p {
        font-size: 1em;
      
    }

    .text-container{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        font-size: 0.9em;
    }
    .aboutMe-wrapper{
        width: 100%;
    }
    .social-media-icons{
        width: 50%;
        
        margin: auto;
        height: 60px;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        align-items: center;
    }
    .video-container{
        height: 235px;
       }
    .biography-container p{
        font-size: 1.1em;
        
    }
    .form-p{
        font-size: 1.1em;
    }
  form{
    margin-top: 10px;
  }

  .button-div{
    justify-content: center;
    width: 85%;
  }
    #submit-button{
        width: 100%;
    }

        
 .text-container-mobile{
    font-size: 1.1em;
    
  }
  
}
@media(max-width:370px){
    .text-content h1 {
        font-size: 2em;
      
   
      
    }

}
