header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.nav-links{
  color:black;
}

body, header {
  
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  width: 100%;
  height: 100%;

}
a:link {
    text-decoration: none;
    color: white;
}


a:hover {
    text-decoration: none;
    
}
a:visited{
   text-decoration: none;
}



a { 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  cursor: pointer;
  }
  
  
 

  
   .policy-text{
    font-weight:100;
    color: #393838;
  font-size: 13px;
  }
 
  .terms-text{
    font-weight:100;
    color: #393838;
  font-size: 13px;
  }
  .cookies-text{
    font-weight:100;
    color: #393838;
  font-size: 13px;
  }
  
  
  .delivery-body{
    padding-bottom: 50px;
  }
  .privacy-body{
    padding-bottom: 30px;
  }
  @media (max-width: 950px) {

    .delivery-body{
      padding-bottom: 80px;
    }
    .privacy-body{
      padding-bottom: 50px;
    }
    
    }
